- Designing ICs, SoCs, IPs, communication chips etc, then verifiying their full capabilities according to specs with a UVM/OVM framework

[[Electronics/VLSI/Concepts]]

[[Projects]]

[[Doubts]]